ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
body,
a,
span {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
}
nav.navbar {
  margin-bottom: 0;
  padding: 10px 0;
}
nav.navbar .navbar-header button.navbar-toggle {
  border: none;
}
nav.navbar .navbar-header .navbar-brand {
  font-size: 36px;
  font-family: "Srisakdi", cursive;
  color: #fc427b;
  font-weight: bold;
}
nav.navbar .navbar-collapse ul.navbar-nav li {
  margin: 0 15px;
}
nav.navbar .navbar-collapse ul.navbar-nav li.open a {
  background: none;
}
nav.navbar .navbar-collapse ul.navbar-nav li:hover a {
  background: none;
}
nav.navbar .navbar-collapse ul.navbar-nav li a {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  transition: all 0.3s;
}
nav.navbar .navbar-collapse ul.navbar-nav li a.active {
  color: #fc427b;
  background: none;
}
nav.navbar .navbar-collapse ul.navbar-nav li a:hover {
  color: #fc427b;
  background: none;
}
nav.navbar .navbar-collapse ul.navbar-nav li ul.dropdown-menu {
  background: none;
  border-radius: 5px;
  padding: 10px;
}
nav.navbar .navbar-collapse ul.navbar-nav li ul.dropdown-menu li {
  margin: 0;
}
nav.navbar .navbar-collapse ul.navbar-nav li ul.dropdown-menu li a {
  color: #333333;
}
section.banner ol.carousel-indicators {
  bottom: 30px;
}
section.banner ol.carousel-indicators li {
  width: 16px;
  height: 16px;
  background: #fc427b;
  border: 4px solid white;
  margin: 0 5px;
}
section.banner ol.carousel-indicators li.active {
  background: white;
}
section.banner ol.carousel-indicators li:hover {
  background: white;
}
section.banner .carousel-inner .item {
  height: 400px;
  background-size: cover;
  background-position: center;
}
section.banner .carousel-inner .item:nth-child(1) {
  background-image: url(images/2.jpg);
}
section.banner .carousel-inner .item:nth-child(2) {
  background-image: url(images/1.jpg);
}
section.banner .carousel-inner .item:nth-child(3) {
  background-image: url(images/4.jpg);
}
section.banner .carousel-inner .item .caption {
  padding-top: 100px;
  text-align: right;
  color: white;
}
section.banner .carousel-inner .item h5 {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
  line-height: 2em;
}
section.banner .carousel-inner .item h3 {
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  line-height: 1.5em;
}
section.banner .carousel-inner .item a.btn {
  margin-top: 20px;
  background: #fc427b;
  border: 2px solid white;
  color: white;
  font-weight: normal;
  font-size: 14px;
  padding: 15px 30px;
  transition: all 0.3s;
  text-transform: uppercase;
}
section.banner .carousel-inner .item a.btn:hover {
  background: white;
  color: #333333;
}
section.welcome .title {
  padding-top: 80px;
  margin-bottom: 30px;
}
section.welcome .title h3 {
  font-size: 38px;
  font-weight: 100;
}
section.welcome .title h5 {
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}
section.welcome dl span {
  border: 2px solid white;
  padding: 30px;
  border-radius: 50%;
  font-size: 32px;
  background: #fc427b;
  color: white;
}
section.welcome dl dt {
  color: #333333;
  font-size: 24px;
  font-weight: 300;
  line-height: 2em;
}
section.welcome dl dd {
  color: #999999;
  font-size: 16px;
  line-height: 2em;
}
section.serives {
  background: #fc427b;
  padding: 50px 0;
}
section.serives ul li {
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
section.serives ul li span {
  border: 2px solid white;
  padding: 30px;
  border-radius: 50%;
  font-size: 32px;
}
section.serives ul li h5 {
  font-weight: 600;
  font-size: 24px;
  margin: 50px 0 20px 0;
}
section.serives ul li p {
  font-weight: 100;
  font-size: 16px;
}
section.Blog .title {
  text-align: center;
  padding: 50px 0;
}
section.Blog .title h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}
section.Blog .title p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
section.Blog .row .img {
  position: relative;
}
section.Blog .row .img .content {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #38d2fe;
  padding: 10px 25px;
  letter-spacing: 1px;
}
section.Blog .row .img .content h3 {
  color: #fff;
  font-size: 26px;
  text-align: center;
  font-weight: 600;
}
section.Blog .row .img .content span {
  display: block;
  font-weight: 100;
  font-size: 16px;
  color: #fff;
}
section.Blog .row .s-box {
  margin: 30px 0;
}
section.Blog .row .s-box h4 {
  font-size: 21px;
  color: #343a40;
}
section.Blog .row .s-box .list-s li {
  padding: 20px 0;
  padding-right: 20px;
}
section.Blog .row .s-box .list-s li i {
  color: #fc427b;
}
section.Blog .row .s-box .list-s li a {
  color: #999;
  letter-spacing: 1px;
}
section.Blog .row .s-box .list-s li a:hover {
  color: #343a40;
}
section.Blog .row .s-box p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
section.beauty {
  height: 350px;
  background: url(images/bg2.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 30px 0;
}
section.beauty .container {
  padding-bottom: 60px !important;
  padding-top: 60px !important;
}
section.beauty .container .row span {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.35);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase !important;
}
section.beauty .container .row h3 {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.4;
  padding: 10px 0;
}
section.beauty .container .row p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #fff;
  font-family: 'Sintony', sans-serif;
}
section.gallery .title {
  text-align: center;
  padding: 50px 0;
}
section.gallery .title h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
}
section.gallery .title p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
section.gallery .row div {
  padding: 5px;
}
section.gallery .row div img {
  border-radius: 5px;
  width: 100%;
}
section.gallery .modal-dialog .modal-content {
  width: 400px;
  margin: 0 auto;
}
section.gallery .modal-dialog .modal-content .modal-body {
  position: relative;
}
section.gallery .modal-dialog .modal-content .modal-body img {
  width: 100%;
}
section.gallery .modal-dialog .modal-content .modal-footer .btn-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 40px;
  color: white;
}
section.gallery .modal-dialog .modal-content .modal-footer .btn-next {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 40px;
  color: white;
}
section.newsletter {
  height: 450px;
  background: url(images/bg3.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 80px 0;
}
section.newsletter .title {
  text-align: center;
  padding: 50px 0;
  margin-top: 20px;
}
section.newsletter .title h3 {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 36px;
  padding: 20px;
}
section.newsletter .title p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #e0e0e0;
  font-family: 'Sintony', sans-serif;
}
section.newsletter .row .form-group .btn {
  background: #38d2fe;
}
section.contact {
  margin-bottom: 300px;
}
section.contact .title {
  text-align: center;
  margin-bottom: 50px;
}
section.contact .title h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
}
section.contact .title p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
section.contact .row div .address,
section.contact .row div .phone,
section.contact .row div .mail {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
}
section.contact .row div .address h4,
section.contact .row div .phone h4,
section.contact .row div .mail h4 {
  font-size: 23px;
  color: #38d2fe;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 20px 0;
}
section.contact .row div .address p,
section.contact .row div .phone p,
section.contact .row div .mail p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
section.contact .row div .touch {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
}
section.contact .row div .touch h4 {
  font-size: 23px;
  color: #38d2fe;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 20px 0;
}
section.contact .row div .touch form .form-group {
  margin-bottom: 16px;
}
section.contact .row div .touch form .form-group input {
  color: #000;
  background: none;
  outline: none;
  font-size: 15px;
  padding: 11px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  border: none;
  border-bottom: solid 1px #828282;
  border-radius: 0px;
}
section.contact .row div .touch form .form-group textarea {
  color: #000;
  background: none;
  outline: none;
  font-size: 15px;
  padding: 11px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  border: none;
  border-bottom: solid 1px #828282;
  border-radius: 0px;
  resize: none;
  height: 207px;
}
section.contact .row div .touch form .btn {
  width: 100%;
}
section.contact .row div .touch form .btn input {
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  width: 100%;
  background: #FC427B;
}
section.footer {
  background: #212020;
}
section.footer .container .row {
  padding: 100px 0;
}
section.footer .container .row div h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 50px;
}
section.footer .container .row div div {
  margin-bottom: 20px;
}
section.footer .container .row div div p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Sintony', sans-serif;
}
section.footer .container .row div div h4 {
  font-size: 16px;
  letter-spacing: 1px;
  color: #f8f9fa;
  margin-bottom: 8px;
}
section.footer .container .row div ul li a {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  display: inline-block;
  color: #ababab;
  transition: all 0.4s;
  outline: none;
  text-decoration: none;
}
section.footer .container .row div ul li a:hover {
  color: #f8f9fa;
}
section.footer .container .photo-top {
  padding: 10px 0;
}
section.footer .container .photo-top a {
  width: 40px;
  height: 40px;
  background: url(images/move-top.png) no-repeat 0px 0px;
  display: block;
  margin: 0 auto;
}
section.footer .container .footer-p {
  letter-spacing: 2px;
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #999;
  font-family: 'Sintony', sans-serif;
  padding-bottom: 70px;
}
section.footer .container .footer-p span {
  color: #fc427b;
}
/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  nav.navbar {
    padding: 10px 50px;
  }
  nav.navbar .navbar-collapse ul.navbar-nav li a {
    text-align: left;
  }
  nav.navbar .navbar-collapse ul.navbar-nav li:hover ul.dropdown-menu {
    display: block;
  }
  nav.navbar .navbar-collapse ul.navbar-nav li ul.dropdown-menu {
    background: #333333;
  }
  nav.navbar .navbar-collapse ul.navbar-nav li ul.dropdown-menu li a {
    color: white;
    transition: all 0.3s;
    padding: 5px 10px;
  }
  nav.navbar .navbar-collapse ul.navbar-nav li ul.dropdown-menu li a:hover {
    color: #333333;
    background: white;
  }
  section.banner .carousel-inner .item {
    height: 500px;
  }
  section.banner .carousel-inner .item .caption {
    padding-top: 130px;
  }
  section.banner .carousel-inner .item .caption h5 {
    font-size: 18px;
  }
  section.banner .carousel-inner .item .caption h3 {
    font-size: 30px;
  }
  section.serives {
    background: #fc427b;
    padding: 100px 0;
  }
  section.beauty {
    height: 400px;
  }
  section.beauty .container {
    padding-bottom: 80px !important;
    padding-top: 80px !important;
  }
  section.beauty .container .row span {
    font-size: 22px;
  }
  section.beauty .container .row h3 {
    font-weight: 600;
    font-size: 26px;
  }
  section.beauty .container .row p {
    font-size: 14px;
  }
  section.gallery .modal-dialog .modal-content {
    width: 420px;
  }
  section.newsletter {
    height: 420px;
  }
  section.newsletter .row .form-group .btn {
    background: #38d2fe;
  }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
  section.banner .carousel-inner .item {
    height: 600px;
  }
  section.banner .carousel-inner .item .caption {
    padding-top: 170px;
  }
  section.banner .carousel-inner .item .caption h5 {
    font-size: 20px;
  }
  section.banner .carousel-inner .item .caption h3 {
    font-size: 40px;
  }
  section.beauty {
    height: 450px;
  }
  section.beauty .container {
    padding-bottom: 110px !important;
    padding-top: 110px !important;
  }
  section.beauty .container .row span {
    font-size: 23px;
  }
  section.beauty .container .row h3 {
    font-weight: 700;
    font-size: 28px;
  }
  section.beauty .container .row p {
    font-size: 15px;
  }
  section.gallery .modal-dialog .modal-content {
    width: 440px;
  }
  section.newsletter {
    height: 400px;
  }
  section.newsletter .row .form-group .btn {
    background: #38d2fe;
  }
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  section.banner .carousel-inner .item {
    height: 720px;
  }
  section.banner .carousel-inner .item .caption {
    padding-top: 250px;
  }
  section.banner .carousel-inner .item .caption h5 {
    font-size: 25px;
  }
  section.banner .carousel-inner .item .caption h3 {
    font-size: 50px;
  }
  section.beauty {
    height: 530px;
  }
  section.beauty .container {
    padding-bottom: 140px !important;
    padding-top: 140px !important;
  }
  section.beauty .container .row span {
    font-size: 26px;
  }
  section.beauty .container .row h3 {
    font-weight: 700;
    font-size: 30px;
  }
  section.beauty .container .row p {
    font-size: 15px;
  }
  section.gallery .modal-dialog .modal-content {
    width: 470px;
  }
  section.newsletter {
    height: 380px;
  }
  section.newsletter .row .form-group .btn {
    background: #38d2fe;
  }
}
