body {
  background: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  perspective: 1000px;
}
.box-top {
  height: 200px;
  overflow: hidden;
  margin: 15px 0;
  position: relative;
}
.box-top svg {
  width: 15%;
  float: left;
}
.box-top .wave {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 5%;
  right: 25%;
  background: #8dcdcf;
  border-radius: 50%;
}
.box-top .wave .w2 {
  animation-delay: 1s;
}
.box-top .wave .w3 {
  animation-delay: 2s;
}
.box-top .wave .w4 {
  animation-delay: 3s;
}
.box-top .wave * {
  border: 1px solid white;
  position: absolute;
  border-radius: 50%;
  animation: opac 4s infinite;
}
.box-middle {
  margin: 15px 0;
  overflow: hidden;
}
.box-middle .bigbox {
  float: left;
  position: relative;
  margin-top: 100px;
  margin-left: 30px;
  width: 350px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 250%;
  box-shadow: inset 0 5px 20px black;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.box-middle .bigbox span {
  float: left;
  height: 100px;
  line-height: 120px;
  width: 50px;
  /* border: 1px solid black; */
  text-align: center;
}
.box-middle .bigbox .cover {
  height: 100%;
  width: 100%;
  position: absolute;
}
.box-middle .bigbox .cover span {
  background: linear-gradient(white 0, #0FD9E0 100%);
  animation: mytranslate 2s infinite;
}
.box-middle .bigbox .cover .sp-2 {
  animation-delay: 0.14s;
}
.box-middle .bigbox .cover .sp-3 {
  animation-delay: 0.28s;
}
.box-middle .bigbox .cover .sp-4 {
  animation-delay: 0.42s;
}
.box-middle .bigbox .cover .sp-5 {
  animation-delay: 0.56s;
}
.box-middle .bigbox .cover .sp-6 {
  animation-delay: 0.7s;
}
.box-middle .bigbox .cover .sp-7 {
  animation-delay: 0.84s;
}
.box-middle .box {
  float: left;
  position: relative;
  width: 350px;
  height: 350px;
  margin-left: 20px;
}
.box-middle .box .cube {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  transform-style: preserve-3d;
  animation: myrotate 5s infinite;
}
.box-middle .box .cube .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box-middle .box .cube .side-top {
  background: url(images/bg1.jpg) no-repeat;
  transform: rotateX(90deg) translateZ(100px);
}
.box-middle .box .cube .side-bottom {
  background: url(images/bg2.jpg) no-repeat;
  transform: rotateX(90deg) translateZ(-100px);
}
.box-middle .box .cube .side-left {
  background: url(images/bg3.jpg) no-repeat;
  transform: rotateY(90deg) translateZ(-100px);
}
.box-middle .box .cube .side-right {
  background: url(images/bg4.jpg) no-repeat;
  transform: rotateY(90deg) translateZ(100px);
}
.box-middle .box .cube .side-front {
  background: url(images/bg5.jpg) no-repeat;
  transform: translateZ(100px);
}
.box-middle .box .cube .side-back {
  background: url(images/bg6.jpg) no-repeat;
  transform: rotateY(180deg) translateZ(100px);
}
.box-middle .loading {
  float: left;
  width: 300px;
  height: 300px;
  position: relative;
}
.box-middle .loading .card {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
}
.box-middle .loading .card .top {
  width: 100px;
  height: 100px;
  position: relative;
  animation: myrotate1 10s linear 0s infinite;
}
.box-middle .loading .card .top .hole {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 50%;
  transform: scale(0.5);
}
.box-middle .loading .card .top .piece {
  width: 100%;
  height: 100%;
  background: lightpink;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10%;
}
.box-middle .loading .card .top .p1 {
  transform: rotateZ(0deg);
}
.box-middle .loading .card .top .p2 {
  transform: rotateZ(30deg);
}
.box-middle .loading .card .top .p3 {
  transform: rotateZ(60deg);
}
.box-middle .loading .card .left {
  width: 60px;
  height: 60px;
  position: relative;
  top: 10px;
  /* background: lightpink; */
  animation: myrotate1 10s linear 0s infinite reverse;
}
.box-middle .loading .card .left .hole {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 50%;
  transform: scale(0.5);
}
.box-middle .loading .card .left .piece {
  width: 100%;
  height: 100%;
  background: lightskyblue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10%;
}
.box-middle .loading .card .left .p1 {
  transform: rotateZ(0deg);
}
.box-middle .loading .card .left .p2 {
  transform: rotateZ(30deg);
}
.box-middle .loading .card .left .p3 {
  transform: rotateZ(60deg);
}
.box-middle .loading .card .right {
  width: 80px;
  height: 80px;
  position: relative;
  top: -65px;
  left: 70px;
  /* background: lightpink; */
  animation: myrotate1 10s linear 0s infinite;
}
.box-middle .loading .card .right .hole {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 50%;
  transform: scale(0.5);
}
.box-middle .loading .card .right .piece {
  width: 100%;
  height: 100%;
  background: lightgreen;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10%;
}
.box-middle .loading .card .right .p1 {
  transform: rotateZ(0deg);
}
.box-middle .loading .card .right .p2 {
  transform: rotateZ(30deg);
}
.box-middle .loading .card .right .p3 {
  transform: rotateZ(60deg);
}
.box-bottom {
  margin: 15px 0;
  overflow: hidden;
  display: flex;
}
.box-bottom .charging {
  float: left;
  margin: 0 30px;
  width: 100px;
  height: 100px;
  background: lightslategrey;
  display: flex;
  justify-content: center;
  align-content: center;
}
.box-bottom .charging .capacity {
  position: relative;
  top: 50%;
  margin-top: -15px;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid white;
}
.box-bottom .charging .capacity .header {
  position: absolute;
  right: -5px;
  top: 50%;
  margin-top: -10px;
  width: 5px;
  height: 20px;
  background: white;
}
.box-bottom .charging .capacity .layer {
  position: absolute;
  width: 70px;
  height: 30px;
  animation: mymytranslate1 3s infinite;
}
.box-bottom .eyes {
  float: left;
  margin: 0 30px;
  width: 100px;
  height: 100px;
  background: lightslategrey;
  display: flex;
}
.box-bottom .eyes .eye-l {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #DDDAE7;
  margin: auto;
  margin-top: 30px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-bottom .eyes .eye-l .ball-l {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: lightslategrey;
  animation: mymytranslate2 4s infinite;
}
.box-bottom .eyes .eye-r {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #DDDAE7;
  margin: auto;
  margin-top: 30px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-bottom .eyes .eye-r .ball-r {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: lightslategrey;
  animation: mymytranslate2 4s infinite;
}
.box-bottom .clock {
  float: left;
  margin: 0 30px;
  width: 100px;
  height: 100px;
  background: lightslategrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-bottom .clock .maxball {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
}
.box-bottom .clock .maxball .m-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  width: 4px;
  height: 30px;
  background: lightpink;
  border-radius: 2px;
  animation: myrotate2 20s linear 0s infinite;
  z-index: 2;
}
.box-bottom .clock .maxball .m-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -38px;
  width: 4px;
  height: 38px;
  background: lightpink;
  border-radius: 2px;
  animation: myrotate3 10s linear 0s infinite;
  z-index: 3;
}
.box-bottom .clock .maxball .middle {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -2px;
  background: lemonchiffon;
}
.box-bottom .overlap {
  float: left;
  margin: 0 30px;
  width: 100px;
  height: 100px;
  background: lightslategrey;
  position: relative;
}
.box-bottom .overlap .cycle {
  animation: myrotate4 4s infinite linear;
}
.box-bottom .overlap .cycle-1 {
  position: absolute;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation-delay: 0.5s;
}
.box-bottom .overlap .cycle-2 {
  position: absolute;
  left: 25%;
  top: 25%;
  margin-left: -5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation-delay: 1s;
}
.box-bottom .overlap .cycle-3 {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation-delay: 1.5s;
}
.box-bottom .overlap .cycle-4 {
  position: absolute;
  left: 25%;
  top: 75%;
  margin-left: -5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation-delay: 2s;
}
.box-bottom .overlap .cycle-5 {
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -5px;
  margin-top: -10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation-delay: 2.5s;
}
.box-bottom .overlap .cycle-6 {
  position: absolute;
  left: 75%;
  top: 75%;
  margin-left: -5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation-delay: 3s;
}
.box-bottom .overlap .cycle-7 {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-left: -10px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation-delay: 3.5s;
}
.box-bottom .overlap .cycle-8 {
  position: absolute;
  left: 75%;
  top: 25%;
  margin-left: -5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation-delay: 4s;
}
.box-bottom .circle {
  float: left;
  margin: 0 30px;
  width: 100px;
  height: 100px;
  background: lightslategrey;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-bottom .circle .sm-circle-1 {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: myrotate1 3s infinite ease-in;
  animation-delay: 0s;
}
.box-bottom .circle .sm-circle-1 .sm-1 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
.box-bottom .circle .sm-circle-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: myrotate1 3s infinite ease-in;
  animation-delay: 0.2s;
}
.box-bottom .circle .sm-circle-2 .sm-2 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
}
.box-bottom .circle .sm-circle-3 {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: myrotate1 3s infinite ease-in;
  animation-delay: 0.4s;
}
.box-bottom .circle .sm-circle-3 .sm-3 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
}
.box-bottom .circle .sm-circle-4 {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: myrotate1 3s infinite ease-in;
  animation-delay: 0.6s;
}
.box-bottom .circle .sm-circle-4 .sm-4 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
}
.box-bottom .circle .sm-circle-5 {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: myrotate1 3s infinite ease-in;
  animation-delay: 0.8s;
}
.box-bottom .circle .sm-circle-5 .sm-5 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}
@keyframes myrotate4 {
  from {
    background: transparent;
  }
  to {
    background: rgba(245, 245, 245, 0.651);
  }
}
@keyframes myrotate2 {
  from {
    transform: rotate(0deg);
    transform-origin: 2px 0;
  }
  to {
    transform: rotate(360deg);
    transform-origin: 2px 0;
  }
}
@keyframes myrotate3 {
  from {
    transform: rotate(0deg);
    transform-origin: 2px 38px;
  }
  to {
    transform: rotate(360deg);
    transform-origin: 2px 38px;
  }
}
@keyframes mymytranslate2 {
  0% {
    transform: translate(-10px);
  }
  50% {
    transform: translate(10px);
  }
  100% {
    transform: translate(-10px);
  }
}
@keyframes mymytranslate1 {
  from {
    width: 0px;
    background: red;
  }
  to {
    width: 70px;
    background: #35e435;
  }
}
@keyframes mytranslate {
  0% {
    margin-bottom: 0;
  }
  16% {
    margin-bottom: 100%;
    height: 20px;
  }
  50% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes opac {
  from {
    opacity: 1;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
  }
  to {
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
@keyframes myrotate {
  from {
    transform: rotate3d(1, -1, 0, 0deg);
  }
  to {
    transform: rotate3d(1, -1, 0, 360deg);
  }
}
@keyframes myrotate1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
